.sidebar-section{
    flex:3 ;
    margin: 20px;
    padding-bottom: 24px;
    background-color:rgb(160, 3, 239);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  
}
.sidebar-subsection{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sidebar-title{
text-transform: uppercase;
   margin: 10px;
   padding: 10px;
   border-top:2px solid  rgb(244, 248, 247);
   border-bottom:2px solid  rgb(244, 248, 247) ;
   font-family:'Mochiy Pop P One' ;
   line-height: 20 px;
   font-size: 13px;
   color:  rgb(244, 248, 247);
}
.sidebar-img{
    margin: 15px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
}
.sidebar-subsection >p{
    margin: 15px;
    padding: 15px;
    text-align: center;
    color:  rgb(244, 248, 247);
}
.sidebar-categories{
    list-style: none;
    margin: 15px;
    padding: 25px;
    color:  rgb(244, 248, 247);
}   
.sidebar-category{
    display: inline-block;
    width: 20%;
    margin:20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:  rgb(244, 248, 247);
}
.sidebar-social-icons{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-social-icon{
    margin-right: 15px;
    cursor: pointer;
    font-size: 25px;
    color: rgb(244, 248, 247);
}
