 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Roboto:wght@300;400;500;900&display=swap');

 *{
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
 }

 body{
    background-color: rgb(140, 221, 239);
 }
 .heading{
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem 0px;
    color:lightseagreen
 }
 .card-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem;
    padding: 20px;
 }
.card-container .card{
    padding: 10px;
    border: 5px solid rgb(65, 205, 237);
    border-radius: 1.5rem;
    text-align: center;
    background-color: azure;
    box-shadow:10px 10px rgb(18, 161, 200) ;
}
.card-container .card .card-icon{
    margin-top: 10px;
}
.card-container .card .card-icon span{
    margin: 16px 0px;
    font-size: 2.2rem;
    color:  rgb(18, 161, 200);
}
.card-container .card .card-title{
    color:rgb(18, 161, 200); 
    font-size: 1.2rem;
    margin: 5px;
}
.card-container .card p{
    font-size: 0.8rem;
    color: rgb(110, 119, 102);
    padding: 15px;

}
.card-container .card  a{
    color:rgb(18, 161, 200) ;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    padding: 10px 0px;
}
.card-container .card  a:hover{
   color: rgb(122, 179, 190);
}

